/* soft reset do css */
*{
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(file:///C:/Users/drica/Desktop/imersaocss/img/fundo.jpg);
    background-size: auto 100vh;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    font-size: 12px;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 400px){
    body {
      font-size: 14px;
    }
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

   /* breakpoint */
   @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

  header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color:#595656;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
    background-color: #595656;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }

  .menu a:hover {
    background-color: rgb(255, 255, 255);
    color: #595656;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: 1s linear 2s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
    from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    }
    to {
    transform: scale(1) translateY(0);
    opacity: 1;
    }
  }
  
  .site-subtitle,
  .site-title {
    color: #595656;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
  }
  
  .site-subtitle {
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
  }
.contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
  }
.contato h2,
  .portfolio h2 {
    font-family: 'Open Sans', sans-serif;
    color: teal;
    margin-bottom: 1.5em;
    font-size: 2.5em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 48px - 8em);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 10%;
  transition: transform 500ms;
  }

  .img-portfolio:hover {
  transform: scale(1.2)
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: gray;
    font-size: 2em;
    transition: text-shadow 1s;
  }

  .contato a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 2px rgb(102, 102, 102);
  }